body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f8fa;
    color: #777;
}
.container-fluid{
    padding: 0;
}
.header_wrap{
    border-bottom: 1px solid #d3e0e9;
    background-color: #fff;
    padding: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}



/*Burger button start*/
.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 3;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-btn span::before {
    transform: translateY(-5px);
}
.menu-btn span::after {
    transform: translateY(5px);
}
.menu-btn_active span:before {
    transform: rotate(-45deg);
    transform-origin: center;
}
.menu-btn_active span:after {
    transform: rotate(45deg);
    transform-origin: center;
}
.menu-btn_active span {
    height: 0;
}
/*Burger button end*/

.sidebar_wrap{
    height: 100vh;
    border-right: 1px solid #d3e0e9;
    background-color: #fff;
    transition: 1s;
    padding: 0;
    border-bottom: 1px solid #d3e0e9;
}
.sidebar_wrap.minified{
    width: 75px;
}
.sidebar_wrap a .text{
    transition: 1s;
    transform-origin: left center;
}
.all_tours_wrapper h3{
    text-align: left;
    margin-bottom: 15px;
    padding-left: 20px;
}
.one_tour{
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 500px;
    border-radius: 5px;
}
.uploaded_image_wrapper .one_tour_image{
    height: 230px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
}
.one_tour_image a.delete{
    color: red;
}
.one_tour_image a.delete:hover{
    color: #fff;
    background-color: red;
    border: none;
}
.one_tour_image a.edit{
    color: limegreen;
}
.errors_ul{
    padding-left: 0;
    list-style-type: none;
}
.errors_ul li{
    display: block;
}
.one_tour_image a.edit:hover{
    color: #fff;
    background-color: limegreen;
    border: none;
}

.one_tour_image:hover{
    cursor: pointer;
}

.sidebar_wrap.minified a.minified i{
    transform: translateX(17px);
}
.sidebar_wrap.minified a .text.minified{
    transform: scaleX(0);
}
.one_tour_tit{
    padding: 0 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.one_tour_content{
    padding: 10px;
    font-size: 14px;
    text-transform: capitalize;
    text-align: justify;
}
.one_tour_price{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    right: 20px;
    bottom: 30px;
}
.no_padding{
    padding: 0;
}
.one_tour_duration{
    padding: 10px;
    font-size: 12px;
    margin-bottom: 5px;
    position: relative;
}
#app_wrap{
    min-height: 50vh;
    padding: 10px 20px;
    transition: 1s;
}
#app_wrap.open_full{
    width: calc(100% - 75px);
}
#app{
    border-radius: 5px;
    border: 1px solid #d3e0e9;
    background-color: #fff;
    min-height: inherit;
    padding: 25px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu_link i{
    transition: .5s;
}
.change_image_wrapper{
    position: absolute;
    left: -100%;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #f5f8fa;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
    transform: scaleX(0);
}
.change_image_wrapper.active{
    transform: scaleX(1);
    left: 0;
}
.max_persons{
    flex: 0 0 90px;
}



.change_image_wrapper .save_edited_image{
    display: none;
}

.change_image_wrapper.active.image-uploaded{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: flex-end;
}
.change_image_wrapper.active.image-uploaded .save_edited_image{
    display: block;
}



.change_image_wrapper label{
    cursor: pointer;
    width: 80%;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    margin-top: 15px;
    transition: .3s;
}
.change_image_wrapper label:hover{
    background-color: #d3e0e9;
    border: 1px solid #fff;
}
.change_image_wrapper .change_image_input{
    display: none;
}
.menu_link{
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #d3e0e9;
    color: #777;
    transition: .5s;
    display: flex;
    align-items: center;
}
.menu_link i{
    font-size: 16px;
    margin-right: 10px;
}
.menu_link:hover{
    transition: all .2s;
    text-decoration: none;
    background-color: #d3e0e9;
}

.admin-main-menu{
    padding-left: 0;
    list-style-type: none;
}
.admin-main-menu li{
    position: relative;
}

ul.sub-menu{
    list-style-type: none;
    padding-left: 0;
    width: 200px;
    position: absolute;
    left: 100%;
    top: -1px;
    z-index: 10;
    background-color: #f5f8fa;
    transition: .5s;
    transform: scaleX(0);
    transform-origin: left center;
    border-top: 1px solid #d3e0e9;
    border-right: 1px solid #d3e0e9;
}
ul.sub-menu li a.minified .text.minified{
    transform: none;
}
.float_right{
    float: right;
}
.no_tours_mes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}
.check_image_wrap{
    position: absolute;
    left: 10px;
    top: 10px;
}
.uploaded_image_buttons_wrapper.active{
    left: 0 !important;
}

.delete_images_button_wrapper{
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 25px;
}

.delete_images_button_wrapper .btn_wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.delete_images_button_wrapper .btn_wrap.active{
    top: 0;
}

.uploaded_images_wrapper{
    position: relative;
    padding-top: 15px;
    padding-bottom: 5px;
}


.regular-checkbox {
    margin: 0;
}

ul.sub-menu li a.minified i{
    transform: none !important;
}

.admin-main-menu li:hover > ul.sub-menu{
    transform: scaleX(1);
}

#dropContainer{
    height: 300px;
    background-color: rgba(0,0,0, .1);
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    position: relative;
}
.drugAndDropWrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.whenFileOn{
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .9);
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
}
.img_dropped{
    margin: 20px;
    display: inline-block;
}
.margin_top{
    margin-top: 25px;
}
.upload_photos_label{
    background-color: #fff;
    padding: 15px 50px;
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
#photos{
    display: none;
}
.upload_photos_label:hover{
    background-color: #d3e0e9;
}

.tour_block_creating_wrapper{
    padding: 0px 25px 25px 0;
}
.tour_block_creating_wrapper.main_image_upload_wrapper{
    padding: 0;
}
.tour_block_creating{
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}
.tour_block_creating input, .tour_block_creating textarea {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.upload_image_preview{
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    height: 391px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.no_margin{
    margin: 0 !important;
}

.price_wrap{
    flex: 0 0 100px;
    position: relative;
}
.price_wrap i{
    position: absolute;
    right: 10px;
    bottom: 25px;
    color: darkgreen;
    font-size: 20px;
}
.uploaded_image_wrapper{
    margin-bottom: 30px;
    cursor: pointer;
}
.uploaded_image_wrapper:hover .uploaded_image_buttons_wrapper{
    left: 0;
}
.uploaded_image{
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.one_tour_duration_wrap{
    flex: 0 0 185px;
}

#main_image{
    display: none;
}
.upload_image_button{
    width: 100%;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 0;
}
.upload_image_button:hover{
    background-color: #d3e0e9;
}
.uploaded_image{
    position: relative;
    overflow: hidden;
}
.uploaded_image_wrapper .uploaded_image_buttons_wrapper{
    position: absolute;
    left: -100%;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(255,255,255, 0.5);
    transition: .3s;
}


.uploaded_image_wrapper .uploaded_image_buttons_wrapper a{
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 5px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

.uploaded_image_buttons_wrapper a.delete .text{
    background-color: red;
}
.uploaded_image_buttons_wrapper a.edit .text{
    background-color: limegreen;
}

.uploaded_image_wrapper .uploaded_image_buttons_wrapper a .text{
    font-weight: bold;
    position: absolute;
    right: calc(100% - 3px);
    transform: scaleX(0);
    height: 50px;
    transition: .5s;
    transform-origin: right center;
    display: flex;
    align-items: center;
    padding-left: 25px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-right: 25px;
    overflow: hidden;
    color: #fff;
}
.uploaded_image_wrapper .uploaded_image_buttons_wrapper a:hover{
    overflow: visible;
}
.uploaded_image_wrapper .uploaded_image_buttons_wrapper a:hover > .text{
    transform: scaleX(1);
}



.uploaded_image_wrapper .uploaded_image_buttons_wrapper a.delete{
    color: red;
}
.uploaded_image_wrapper .uploaded_image_buttons_wrapper a.delete:hover{
    background-color: red;
    color: #fff;
}

.uploaded_image_wrapper .uploaded_image_buttons_wrapper a.edit{
    color: limegreen;
}
.uploaded_image_wrapper .uploaded_image_buttons_wrapper a.edit:hover{
    background-color: limegreen;
    color: #fff;
}
.choose_country_city select{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 3px;
    cursor: pointer;
}
.one_user{
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    padding-left: 25px;
    font-weight: bolder;
    cursor: pointer;
}
.user_controls{
    position: absolute;
    right: 25px;
    top: 11px;
}
.user_controls a{
    color: #fff;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
}
.user_controls a.delete{
    background-color: red;
}
.user_controls a.edit{
    background-color: green;
}
#user_edit_form{
    width: 500px;
}
#user_edit_form input,
#user_edit_form select{
    width: 100%;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    transition: .3s;
}















/*Loader start*/
.loader_wrapper{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, .5);
    position: absolute;
    left: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 9999999;
}




.sk-cube-grid {
    width: 100px;
    height: 100px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}
/*Loader end*/
.tit_center{
    text-align: center;
}
.margin_bottom{
    margin-bottom: 35px;
}

#create_tour_category{
    width: 400px;
    padding: 10px;
}
#create_tour_category input, #create_tour_category select{
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 5px;
    margin-bottom: 15px;
}
.one_cat{
    position: relative;
    padding: 10px;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.one_cat .categories_controls{
    position: absolute;
    right: 10px;
    top: 10px;
}
.one_cat .categories_controls a{
    color: #fff;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.one_cat .categories_controls a:first-child{
    background-color: green;
}
.one_cat_wrapp.sub{
    margin-left: 50px;
}
.border_wrapp{
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.category_wrapper select{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 3px;
}
.one_tour_category{
    position: absolute;
    left: 25px;
    bottom: 45px;
}
.tour_filtration{
    margin-bottom: 25px;
}
.tour_filtration form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.tour_filtration select{
    padding: 6px;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 3px;
}
.tour_filtration input{
    padding: 5px;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 3px;
    transition: .3s;
    margin-right: 10px;
}
.tour_filtration label{
    margin-left: 20px;
    margin-right: 5px;
}
.one_cat_tour{
    background-color: darkblue;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10px;
}
.selected_and_unselected_cats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 14px;
}
.selected_and_unselected_cats div{
    margin-right: 50px;
}
.category_wrapper{
    padding-left: 55px;
}
.margin_left{
    margin-left: 15px;
}
.check_active{
    position: absolute;
    right: 20px;
    top:10px;
}
.tour_active_mes{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.tour_active_mes .active{
    background-color: gold;
    padding: 5px 20px;
    border-radius: 5px;
}
.tour_active_mes .disabled{
    background-color: darkgrey;
    padding: 5px 20px;
    border-radius: 5px;
}
.position_relative{
    position: relative;
}
.tour_search{
    position: absolute;
    right: 15px;
    top: 0;
}
.search_input{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0, .3);
    position: relative;
    top: 1px;
}

